/* Aufgabe: Aufgabe 4 Memory Stylesheet
Name: Tim Lieberherr
Matrikel: 257969
Datum: 14.04.2018
Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. 
Er wurde nicht kopiert und auch nicht diktiert. Dieser Code wurde in der Gruppenarbeit mit Gruppe Grün erstellt, unter Anleitung von Melvin Busch */

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Hi Melody', cursive;
  font-size: 1,19em;
  background: #e2e2e2;
}
h2 {
  text-align: center;
  margin-bottom: 1.25em;
  color: #000000;
}

/* Userinterface */
#interface {
  display: block;
    background-color: white;
    border: none;
    padding: 2em;
    width: 50%;
    margin: auto;
    margin-top: 2em;
}

#interface h3 {
  text-align: center;
  border-bottom: 1px solid white;
    color: #000000;
}

#interface button {
  margin-top: 1.5em;
  border-radius: 5px;
  background-color: #cae6ff;
  border: none;
  color: #000000;
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  font-weight: bold;
}

div #placemiddle {
  margin: auto;
  text-align: center
}

button {
    font-family: 'Pangolin', cursive;
    margin: auto;
}

.buttonplayer {
  display: inline-block;
  width: 2em;
  text-align: center;
}
.StartButton {
  margin: auto;
  text-align: center;
  display: block;
}

div #names {
  margin: auto;
  text-align: center;
  display: block;
}

#names input {
  margin: auto;
    margin-top: 2em;
    font-family: 'Pangolin', cursive;
    padding: 0.5em;
    width: 14em;
}

#counterbox {
   font-family: 'Pangolin', cursive;
  text-align: center;
}

select {
     font-family: 'Pangolin', cursive;
    display: block;
    margin: auto;
    padding: 0.5em;
    width: 15em;
}

/* Spielinfo */
#player-info {
  width: 22%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: #f2f4f4;
  padding: 1.25em;
  box-sizing: border-box;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.8);
  display: none;
  
}
#player-info h2 {
  /* margin-bottom: 3.125em; */
  color: #000000;
  
}
#player-info div {
  text-align: center;
  font-size: 1,19em;
  margin: auto;
  padding-top: 1em;
  padding-bottom: 1em;
}

/* Spielbrett */

#card-field {
  height: auto;
  max-width: 78%;
  padding: 1.25em;
  box-sizing: border-box;
  margin-left: 20%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  left: 25%;
}
#card-field h2 {
  color: #000000;
}
#card-div {
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  perspective: 1500;
}
.card {
  height: 175px;
  width: 175px;
  border-radius: 5px;
  margin: 0em 1.25em 1.25em 0em;
  cursor: pointer;
  text-align: center;
  line-height: 10.938em;
  position: relative;
  background: #cae6ff;
  transition: all 1s ease-in-out;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: visible;
  pointer-events: auto;
  
}
.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #0080da;
  border-radius: 0.313em;
  transition: all 1s ease;
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
}
.hidden {
  transform: rotateY(180deg);
  background: #4cb4ba;
  cursor: pointer;
}

.hidden p {
  display: none;
}
.hidden div {
    display: none;
}
.visible {
  background-color: #0080da;
}
.taken {
  transform: scale(0);
  background-color: #e2e2e2;
}
.taken div {
    display: none;
}